@import "src/@fuse/scss/fuse";
@import "../../../../../../../node_modules/@progress/kendo-theme-material/dist/all.css";

.user-form-dialog {
  @include media-breakpoint('xs') {
    width: 100%;
  }
  @include media-breakpoint('lt-xs') {
    width: 600px;
  }
  .mat-dialog-container {
    padding: 0;
    overflow: hidden;
    .mat-toolbar {
      min-height: initial;
      background: #049546 !important;
    }
    .toolbar-bottom {
      height: auto;
    }
  }
  .dialog-content-wrapper {
    max-height: 85vh;
    display: flex;
    flex-direction: column;
  }
}
