<div class="dialog-content-wrapper">
  <!--TITLE-->
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{dialogTitle}}</span>
      <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <!--END TITLE-->

  <!--CONTENT-->
  <div mat-dialog-content class="p-12 m-0" fusePerfectScrollbar>
    <form [formGroup]="categoryForm">
      <div fxLayout="column" fxLayoutAlign="space-between none">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Name">
        </mat-form-field>
      </div>
    </form>
  </div>
  <!-- CONTENT -->

  <!--ACTION BUTTONS-->
  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between end">
    <button mat-raised-button color="accent" aria-label="SAVE" [disabled]="categoryForm.invalid "
      (click)="dialogRef.close(categoryForm)" *ngIf="!readOnly">
      SAVE
    </button>
  </div>
  <!--END ACTION BUTTONS-->
</div>
