<div id="buildings" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

  <!-- HEADER -->
  <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="space-between center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">


    <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md (click)="toggleSidebar('simple-left-sidebar-4')">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- APP TITLE -->
    <div fxLayout="column" fxLayoutAlign="center start">

      <div class="white-fg breadcrumb" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Buildings</span>
      </div>

      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Buildings
          List</span>
      </div>

    </div>
    <!-- / APP TITLE -->

  </div>
  <!-- / HEADER -->

  <!-- SELECTED BAR -->

  <!-- / SELECTED BAR -->

  <!-- CONTENT -->
  <div class="content">

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar w-240" name="simple-left-sidebar-4" position="left" lockedOpen="gt-sm">

      <!-- SIDEBAR CONTENT -->
      <app-main-sidebar *fuseIfOnDom [@animate]="{value:'*'}"></app-main-sidebar>
      <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>

      <!-- CONTENT -->
      <div class="content fuse-white-bg mat-elevation-z4">
        <app-building-list [readOnly]="readOnly"></app-building-list>
      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

  </div>
  <!-- / CONTENT -->
</div>

<!-- EXPORT CSV -->
<button mat-fab class="mg-accent-bg" id="export-csv-button" (click)="exportCsvReport()" aria-label="add customer"
  *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
  <mat-icon>open_in_browser</mat-icon>
</button>
<!-- / EXPORT CSV -->

<!-- EXPORT PDF BUTTON -->
<button mat-fab class="mg-accent-bg" id="export-pdf-button" aria-label="export pdf" *fuseIfOnDom
  [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" (click)="exportBuildingReportPDF()"
  matTooltip="Export PDF Document">
  <mat-icon>picture_as_pdf</mat-icon>
</button>
<!-- / EXPORT PDF BUTTON -->

<!-- ADD ELEMENT BUTTON -->
<div *ngIf="!readOnly">
  <button mat-fab class="mg-accent-bg" id="add-buildings-button" [disabled]="roleLevelLoggedUser >= 35"
    aria-label="add building" *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}"
    (click)="newBuilding()" matTooltip="Add Building">
    <mat-icon>note_add</mat-icon>
  </button>
</div>
<!-- / ADD ELEMENT BUTTON -->
