@import "src/@fuse/scss/fuse";
@import "src/app/core/scss/custom/mat-table";

app-contact-list {
  flex: 1;
  .mat-table {
    background: transparent;
    box-shadow: none;
    max-height: 100%;

    .mat-column-checkbox {
      max-width: 48px;
      padding-left: 0;
      .mat-checkbox-ripple {
        display: none !important; //fix for broken rendering
      }
    }
    .mat-column-avatar {
      flex: 0 1 64px;
    }

    .mat-column-buttons {
      max-width: 80px;
      padding-right: 0px;
    }

    .mat-header-row {
      padding-left: 18px;
      padding-right: 18px;
    }

    .mat-row {
      position: relative;
      cursor: pointer;
      padding: 8px 8px 8px 24px;
      padding-left: 18px;
      padding-right: 18px;
      .mat-cell {
        min-width: 0;
        &.mat-column-detail-button {
          flex: 0 1 auto;
          padding: 0 24px 0 0;
          @include media-breakpoint('gt-md') {
            display: none;
          }
        }
      }
    }
  }
  /* Absolute Center Spinner */
  .spinner-container {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  /* Transparent Overlay */
  .spinner-container:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

#add-contact-button {
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 0;
  z-index: 99;
}
