.mat-table {
  .mat-cell {
    font-size: 12px !important;
  }
}

#mat-menu {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

#mat-menu-item {
  line-height: 30px;
  height: 30px;
}
