@import "src/@fuse/scss/fuse";

.Schedule-Settings-form-dialog {
  @include media-breakpoint("xs") {
    width: 100%;
  }
  @include media-breakpoint("lt-xs") {
    width: 400px;
  }
  .mat-dialog-container {
    padding: 0;
    overflow: hidden;
    .mat-toolbar {
      min-height: initial;
      background: #049546 !important;
    }
    .toolbar-bottom {
      height: auto;
    }
  }
  .dialog-content-wrapper {
    max-height: 85vh;
    display: flex;
    flex-direction: column;
  }

  /* Absolute Center Spinner */
  .spinner-container {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  /* Transparent Overlay */
  .spinner-container:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.red {
  background-color: red;
}

.green {
  background-color: red;
}

.blue {
  background-color: red;
}

.yellow {
  background-color: red;
}

.purple {
  background-color: purple;
}

.maroon {
  background-color: maroon;
}

.orange {
  background-color: orange;
}

.black {
  background-color: black;
}

.gray {
  background-color: gray;
}
