<!-- LOADER -->
<div class="spinner-container" *ngIf="loading$ | async">
  <mat-spinner></mat-spinner>
</div>
<!-- END LOADER -->
<!--SEARCH-->
<div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="end center">
  <label for="search" class="mr-8">
    <mat-icon>search</mat-icon>
  </label>
  <mat-form-field floatLabel="never">
    <input matInput [formControl]="searchInput" id="search" placeholder="Search for anything">
  </mat-form-field>
</div>
<!--END SEARCH-->

<!--TABLE-->
<mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}" matSort matSortDisableClear>

  <!-- Checkbox Column -->
  <ng-container cdkColumnDef="checkbox">
    <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <mat-checkbox [(ngModel)]="checkboxes[row.id]" (ngModelChange)="onSelectedChange(row.id)"
        (click)="$event.stopPropagation()" *ngIf="!readOnly">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!--CONTRACT-->
  <ng-container cdkColumnDef="transactionNumber">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header="transactionNumber">Transaction Number</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <div fxLayout="column" fxFlex="100">
        {{ row.transactionNumber }}
      </div>
    </mat-cell>
  </ng-container>
  <!--END CONTRACT-->

  <!--CONTRACT-->
  <ng-container cdkColumnDef="contract">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header="contractId">Contract Number</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <div fxLayout="column" fxFlex="100">
        {{ row.contractNumber }}
      </div>
    </mat-cell>
  </ng-container>
  <!--END CONTRACT-->

  <!--BUILDING-->
  <ng-container cdkColumnDef="building">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header="buildingName">Building Name</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <div fxLayout="column" fxFlex="100">
        {{ row.buildingName }}
      </div>
    </mat-cell>
  </ng-container>
  <!--END BUILDING-->

  <!--CUSTOMER-->
  <ng-container cdkColumnDef="customer">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header="customerName">Customer Name</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <div fxLayout="column" fxFlex="100">
        {{ row.customerName }}
      </div>
    </mat-cell>
  </ng-container>
  <!--END CUSTOMER-->

  <!--DESCRIPTION-->
  <ng-container cdkColumnDef="description">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header="description">Description</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <div fxLayout="column" fxFlex="100">
        {{ row.description }}
      </div>
    </mat-cell>
  </ng-container>
  <!--END DESCRIPTION-->

  <!--REFERENCE-->
  <ng-container cdkColumnDef="reference">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header="reference">Reference</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <div fxLayout="column" fxFlex="100">
        {{ row.reference }}
      </div>
    </mat-cell>
  </ng-container>
  <!--END REFERENCE-->

  <!--DATE-->
  <ng-container cdkColumnDef="date">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header="date">Date</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      {{ row.date | date: 'MM/dd/yyyy' }}
    </mat-cell>
  </ng-container>
  <!--END DATE-->

  <!--SUBTOTAL-->
  <ng-container cdkColumnDef="subtotal">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header="subtotal">Sub-Total</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <div fxLayout="column" fxFlex="100">
        <span class="green-fg">
          {{row.subTotal | currency:'USD':'symbol'}}
        </span>
      </div>
    </mat-cell>
  </ng-container>
  <!--END SUBTOTAL-->

  <!--TASC-->
  <ng-container cdkColumnDef="tax">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header="tax">Tax</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <div fxLayout="column" fxFlex="100">
        <span class="green-fg">
          {{row.tax}}
        </span>
      </div>
    </mat-cell>
  </ng-container>
  <!--END TASC-->

  <!--TOTAL-->
  <ng-container cdkColumnDef="total">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header="total">Total</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <div fxLayout="column" fxFlex="100">
        <span class="green-fg">
          {{row.total | currency:'USD':'symbol'}}
        </span>
      </div>
    </mat-cell>
  </ng-container>
  <!--END TOTAL-->

  <!-- Buttons Column -->
  <ng-container cdkColumnDef="buttons">
    <mat-header-cell *cdkHeaderCellDef>*</mat-header-cell>
    <mat-cell *cdkCellDef="let revenue">
      <div fxFlex="row" fxLayoutAlign="end center">

        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu" id="mat-menu">

          <button id="mat-menu-item" mat-menu-item aria-label="edit" (click)="editRevenue(revenue)">
            <!-- <mat-icon>edit</mat-icon> -->
            <span>Edit</span>
          </button>

          <button id="mat-menu-item" mat-menu-item aria-label="edit" (click)="deleteRevenue(revenue)" *ngIf="!readOnly">
            <!-- <mat-icon>delete</mat-icon> -->
            <span>Remove</span>
          </button>

        </mat-menu>
      </div>
    </mat-cell>
  </ng-container>
  <!-- End Buttons Column -->

  <mat-header-row *cdkHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *cdkRowDef="let revenue; columns: columnsToDisplay;" class="revenue" matRipple
    [@animate]="{value:'*',params:{y:'100%'}}">
  </mat-row>
</mat-table>
<!--END TABLE-->

<!--PAGINATOR-->
<mat-paginator [length]="revenueCount" [pageSize]="20" [pageSizeOptions]="[20, 100, 200, 300, 400]"></mat-paginator>
<!--END PAGINATOR-->
