<div class="dialog-content-wrapper primary-50-bg">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Budget Detail </span>
      <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="toolbar-bottom py-8 py-sm-16" fxLayout="column" fxLayoutAlign="center center">
      <div class="contract-name">

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-8 m-0" fusePerfectScrollbar>
    <mat-card>
      <form [formGroup]="contractForm">

        <div fxLayout="row" fxLayoutAlign="start start" fxFill *ngIf="action != 'edit'">
          <!-- CUSTOMER-->
          <div fxLayout="row" fxLayoutAlign="start start" fxFlex="50">
            <mat-icon class="mr-8 pt-16 s-20 secondary-text" style="cursor:pointer;" matTooltip="New Customer"
              (click)="newCustomer()">add</mat-icon>
            <mat-form-field class="pr-4" fxFlex>
              <mat-icon matPrefix class="mr-8 s-20 secondary-text">person</mat-icon>
              <mat-select #customers placeholder="Customer" formControlName="customerId" required>
                <mat-option>
                  <ngx-mat-select-search formControlName="customerIdCtrl" placeholderLabel="Search"
                    noEntriesFoundLabel="No results"></ngx-mat-select-search>
                </mat-option>

                <mat-option *ngFor="let customer of filteredCustomers | async" [value]="customer.id">
                  {{customer.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!--END CUSTOMER-->

          <!--BUILDING-->
          <div fxLayout="row" fxLayoutAlign="start start" fxFlex="50">
            <mat-icon class="mr-4 pt-16 s-20 secondary-text" style="cursor:pointer;" matTooltip="New Building"
              (click)="newBuilding()">add</mat-icon>
            <mat-form-field fxFlex class="pl-4">
              <mat-icon matPrefix class="mr-8 s-20 secondary-text">business</mat-icon>
              <mat-select placeholder="Building" formControlName="buildingId" required
                (selectionChange)='buildingChange($event)'>
                <mat-option>
                  <ngx-mat-select-search formControlName="buildingIdCtrl" placeholderLabel="Search"
                    noEntriesFoundLabel="No results"></ngx-mat-select-search>
                </mat-option>

                <mat-option *ngFor="let building of filteredBuildings | async" [value]="building.id">
                  {{building.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!--END BUILDING-->
        </div>

        <div fxLayout="row" fxLayoutAlign="start start" class="mb-16" *ngIf="action == 'edit'">
          <div fxFlex="50">
            <p class="font-weight-500 m-0 pb-4">Customer</p>
            <span> {{assignedCustomer ? assignedCustomer.name : ''}} </span>
          </div>

          <div fxFlex="50">
            <p class="font-weight-500 m-0 pb-4">Building</p>
            <span> {{assignedBuilding ? assignedBuilding.name : ''}} </span>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start" fxFill *ngIf="action == 'edit'">
          <!--DAYS PER MONTH-->
          <mat-form-field fxFlex="25">
            <mat-icon matPrefix class="mr-8 s-20 secondary-text">date_range</mat-icon>
            <input matInput #daysPerMonth placeholder="Days Per Month" formControlName="daysPerMonth" required>
          </mat-form-field>
          <!--END DAYS PER MONTH-->

          <!--PRODUCTION RATE-->
          <mat-form-field fxFlex="25" class="pl-12">
            <mat-icon matPrefix class="mr-8 s-20 secondary-text">equalizer</mat-icon>
            <input matInput #daysPerMonth placeholder="Production Rate" formControlName="productionRate" required>
          </mat-form-field>
          <!--END PRODUCTION RATE-->

          <!--EXPIRATION DATE-->
          <mat-form-field fxFlex="30" class="pr-12 pl-12">
            <input matInput formControlName="expirationDate" [matDatepicker]="picker" placeholder="Expiration date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <!--END EXPIRATION DATE-->

          <!--STATUS-->
          <mat-form-field fxFlex="20">
            <mat-icon matPrefix class="mr-8 s-20 secondary-text">ballot</mat-icon>
            <mat-select placeholder="Status" formControlName="status" required>
              <mat-option *ngFor="let status of contractStatus" [value]="status.id">
                {{status.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--END STATUS-->
        </div>

        <!--DESCRIPTION-->
        <div fxLayout="row" fxLayoutAlign="start start">
          <mat-form-field fxFlex="40">
            <mat-icon matPrefix class="mr-8 s-20">vpn_key</mat-icon>
            <input matInput placeholder="Contract Number" formControlName="contractNumber" required>
            <mat-hint align="start" *ngIf="invalidCode" class="red-400-fg">
              The contract number has already been taken
            </mat-hint>
          </mat-form-field>
          <mat-form-field fxFlex="60" class="pl-8" *ngIf="action == 'edit'">
            <mat-icon matPrefix class="mr-8 s-20">comment</mat-icon>
            <input matInput placeholder="Description" formControlName="description">
          </mat-form-field>
        </div>
        <!--END DESCRIPTION-->

        <!--SPACE-->
        <div fxLayout="row" fxLayoutAlign="start start" fxFill *ngIf="action == 'edit'">
          <!--BUSY SPACE-->
          <mat-form-field fxFlex="33">
            <input matInput type="number" placeholder="Occupied Square Feet" formControlName="busySquare">
            <button mat-button matSuffix mat-icon-button (click)="newOfficeSpace()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
          <!--END BUSY SPACE-->

          <!--AVAILABLE SPACE-->
          <mat-form-field fxFlex="34" class="pl-12 pr-12">
            <input matInput type="number" placeholder="Unoccupied Square Feet" formControlName="unoccupiedSquareFeets">
          </mat-form-field>
          <!--END AVAILABLE SPACE-->

          <!--TOTAL SPACE-->
          <mat-form-field fxFlex="33">
            <input matInput type="number" placeholder="Total Square Feet" formControlName="totalSquareFeet">
          </mat-form-field>
          <!--END TOTAL SPACE-->
        </div>
        <!--END SPACE-->

        <!--OFFICE SPACES-->
        <div fxLayout="row" fxLayoutAlign="start start" fxFill *ngIf="action == 'edit'">
          <div fxFlex="33">
            <table style="width: 100%;">
              <thead>
                <tr class="mat-header-row">
                  <th class="mat-header-cell">Office Type</th>
                  <th class="mat-header-cell">Square Feet</th>
                  <th class="mat-header-cell"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of officeSpaces" class="mat-row" (click)="editOfficeSpace(item)">
                  <td class="mat-cell"> <span class="font-weight-500">{{item.officeTypeName}}</span> </td>
                  <td class="mat-cell"> {{item.squareFeet}} </td>
                  <td class="mat-cell">
                    <mat-icon matTooltip="Delete Office Space" (click)="deleteOfficeSpace(item)"
                      style="cursor: pointer;" *ngIf="action=='new'">delete</mat-icon>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--END OFFICE SPACES-->

      </form>

      <div fxLayout="column" fxLayoutAlign="space-between none" *ngIf="!availableBuilding" class="pt-8"
        style="border-top: 1px solid #EEE;">
        <p class="m-0">
          The selected building has an active contract, it will be disabled if you create a new contract with this
          building.
        </p>
        <app-contract-summary [displayDetails]="true" [contractSummary]="contractSummary"></app-contract-summary>
      </div>
    </mat-card>

  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between end">
    <button mat-raised-button *ngIf="action==='new'" color="accent" aria-label="SAVE" [disabled]="contractForm.invalid"
      (click)="saveContract(contractForm)">
      SAVE
    </button>
    <button mat-raised-button *ngIf="action==='edit'" color="accent" aria-label="SAVE" [disabled]="contractForm.invalid"
      (click)="updateContract(contractForm)">
      SAVE
    </button>
  </div>

</div>
