@import "src/@fuse/scss/fuse";
@import "src/app/core/scss/custom/custom-theme";

:host {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;

    .sidenav-content {
        display: flex;
        flex-direction: column;
        padding: 0;

        @include media-breakpoint(gt-sm) {
            padding: 24px 4px 24px 24px;
        }

        .content{
          padding-top: 0px !important;
        }
        .card {
            display: flex;
            flex-direction: column;
            flex: 0 1 auto;
            padding: 0;
            font-weight: 500;


            @include media-breakpoint(gt-sm) {
                @include mat-elevation(4);
            }

            .header {
                flex: 0 1 auto;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                margin-bottom: 10px;
                margin-top: 0px;
                background:#2D323E !important;
                font-weight: 500;
                font-size: 18px;
                color: rgba(255, 255, 255, 0.87);
                margin-bottom: 5px !important;
            }

            .filterByBuilding {
              border-top: 1px solid rgba(0, 0, 0, 0.12);
              margin-right: 10px;
              margin-left: 10px;

            }
            > .content {
                flex: 0 1 auto;
            }

        }

    }
}
