<!-- LOADER -->
<div class="spinner-container" *ngIf="loading$ | async">
  <mat-spinner></mat-spinner>
</div>
<!-- END LOADER -->

<!--SEARCH-->
<div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="end center">
  <label for="search" class="mr-8">
    <mat-icon>search</mat-icon>
  </label>
  <mat-form-field floatLabel="never">
    <input matInput [formControl]="searchInput" placeholder="Search for anything">
  </mat-form-field>
</div>
<!--END SEARCH-->

<!--TABLE-->
<mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}" matSort matSortDisableClear>

  <!-- Number Column -->
  <ng-container cdkColumnDef="number">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header="id">Number</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <div fxLayout="column" fxFlex="100">
        {{ row.id }}
      </div>
    </mat-cell>
  </ng-container>
  <!-- End Number Column -->

  <!-- CreatedOn Column -->
  <ng-container cdkColumnDef="createdOn">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header="createdDate">Created On</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      {{ row.createdDate | date: 'MM/dd/yyyy' }}
    </mat-cell>
  </ng-container>
  <!-- End CreatedOn Column -->

  <!-- PreparedFor Column -->
  <ng-container cdkColumnDef="preparedFor">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header="contactName">Prepared For</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <div fxLayout="column" fxFlex="100">
        <span class="text-truncate">{{ row.contactName }}</span>
      </div>
    </mat-cell>
  </ng-container>
  <!-- End PreparedFor Column -->

  <!-- Mgmt Company Column -->
  <ng-container cdkColumnDef="mgmtCompany">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header="customerName">Mgmt. Company</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <div fxLayout="column" fxFlex="100">
        {{ row.customerName }}
      </div>
    </mat-cell>
  </ng-container>
  <!-- End Mgmt Company Column -->

  <!-- Line Items Column -->
  <ng-container cdkColumnDef="lineItems">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header="lineItems">Line Items</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <div fxLayout="column" fxFlex="100">
        {{ row.lineItems }}
      </div>
    </mat-cell>
  </ng-container>
  <!-- End Line Items Column -->

  <!-- Value Column -->
  <ng-container cdkColumnDef="value">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header="value">Value</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <div fxLayout="column" fxFlex="100">
        {{ row.value | currency:'USD':'symbol' }}
      </div>
    </mat-cell>
  </ng-container>
  <!-- End Value Column -->

  <!-- Status Column -->
  <ng-container cdkColumnDef="status">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header="status">Status</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <span
        [ngClass]="{'badge':true,'pending': row.status === 0, 'approved': row.status === 1,' declined': row.status === 2 }">
        {{row.statusName}}
      </span>
    </mat-cell>
  </ng-container>
  <!-- End Status Column -->

  <!-- Buttons Column -->
  <ng-container cdkColumnDef="buttons">
    <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
    <mat-cell *cdkCellDef="let proposal">
      <div fxFlex="row" fxLayoutAlign="end center">

        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu" id="mat-menu">

          <button id="mat-menu-item" mat-menu-item aria-label="edit" (click)="editProposal(proposal.id)">
            <!-- <mat-icon>edit</mat-icon> -->
            <span>Edit</span>
          </button>

          <button id="mat-menu-item" mat-menu-item aria-label="delete" (click)="deleteProposal(proposal)" *ngIf="!readOnly">
            <!-- <mat-icon>delete</mat-icon> -->
            <span>Remove</span>
          </button>

        </mat-menu>

      </div>
    </mat-cell>
  </ng-container>
  <!-- End Buttons Column -->

  <mat-header-row *cdkHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *cdkRowDef="let proposal; columns: columnsToDisplay;" class="proposal" matRipple
    [@animate]="{value:'*',params:{y:'100%'}}" [routerLink]="'/app/proposals/proposal-detail/' + proposal.id">
  </mat-row>

</mat-table>
<!--END TABLE-->

<!--PAGINATOR-->
<mat-paginator [length]="proposalsCount" [pageSize]="20" [pageSizeOptions]="[20, 100, 200, 300, 400]"></mat-paginator>
<!--END PAGINATOR-->
