<mat-toolbar>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

    <div
        fxLayout="row"
        fxLayoutAlign="start center"
        class="font-size-12">
        © {{date| date:'yyyy'}}
        &nbsp;
        <strong>MG Capital</strong>
        <span>&bull;</span>
        <span>All Rights Reserved</span>
        <span>&bull;</span>
        <span>Powered By:&nbsp;
        </span>
        <a href="http://www.axzes.com/" target="_blank">Axzes, LLC</a>
  </div>

  </div>

</mat-toolbar>
