<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{dialogTitle}}</span>
      <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="toolbar-bottom py-8 py-sm-16" fxLayout="column" fxLayoutAlign="center center">
      <div class="contact-name" *ngIf="contact">{{contact.firstName}} {{contact.lastName}}</div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

    <form [formGroup]="contactForm">
      <!-- First Name -->
      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-icon class="mr-12 mt-12">account_circle</mat-icon>
        <mat-form-field fxFlex>
          <input name="firstName" formControlName="firstName" placeholder="First Name" matInput required maxLength="80">
        </mat-form-field>
      </div>

      <!-- Middle Name -->
      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" *ngIf="action === 'edit'">
        <mat-icon class="mr-12 mt-12">account_circle</mat-icon>
        <mat-form-field fxFlex>
          <input name="middleName" formControlName="middleName" placeholder="Middle Name" matInput maxLength="80">
        </mat-form-field>
      </div>

      <!-- Last Name -->
      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-icon class="mr-12 mt-12">account_circle</mat-icon>
        <mat-form-field fxFlex>
          <input name="lastName" formControlName="lastName" placeholder="Last Name" matInput required maxLength="80">
        </mat-form-field>
      </div>

      <ng-container *ngIf="action !== 'edit'">
        <!-- Phone  -->
        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
          <mat-icon matPrefix class="mr-12 s-20 secondary-text">phone</mat-icon>
          <mat-form-field fxFlex>
            <input name="phone" formControlName="phone" placeholder="Phone" matInput required maxLength="13">
          </mat-form-field>
        </div>

        <!-- Ext  -->
        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
          <mat-icon class="mr-12 mt-12">settings_phone</mat-icon>
          <mat-form-field fxFlex>
            <input name="ext" formControlName="ext" placeholder="Ext" matInput maxLength="13">
          </mat-form-field>
        </div>

        <!-- Email  -->
        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
          <mat-icon class="mr-12 mt-12">email</mat-icon>
          <mat-form-field fxFlex>
            <input name="email" formControlName="email" placeholder="Email" matInput type="email" required>
          </mat-form-field>
        </div>
      </ng-container>

      <!-- Send Notifications -->
      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-slide-toggle class="pr-12" formControlName="sendNotifications">Send
          Notifications
        </mat-slide-toggle>
      </div>

      <!-- Edition only fields -->
      <ng-container *ngIf="action === 'edit'">
        <input type="hidden" formControlName="id">
        <input type="hidden" formControlName="guid">

        <!-- Salutation -->
        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
          <mat-icon class="mr-12 mt-12">person</mat-icon>
          <mat-form-field fxFlex>
            <input name="salutation" formControlName="salutation" placeholder="Salutation" matInput maxLength="80">
          </mat-form-field>
        </div>

        <!-- DOB -->
        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
          <mat-icon matPrefix class="mr-12 mt-12 secondary-text"> cake </mat-icon>
          <mat-form-field class="mr-24" fxFlex>
            <input matInput [matDatepicker]="birthdayDatePicker" placeholder="DOB" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #birthdayDatePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Phones  -->
        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
          <button mat-button class="mat-icon-button mr-12 mt-12" (click)="newPhone(contact.id)" aria-label="New"
            *ngIf="!readOnly" matTooltip="Add">
            <mat-icon>add</mat-icon>
          </button>
          <mat-accordion class="mr-24" fxFlex>
            <mat-expansion-panel>
              <mat-expansion-panel-header>Phones</mat-expansion-panel-header>
              <mat-nav-list dense>
                <mat-list-item *ngFor="let phone of phones$ | async">
                  <a matLine (click)="editPhone(phone.id)">{{phone.type}} | {{phone.phone}}</a>
                  <button mat-icon-button (click)="deletePhone(phone.id)" aria-label="Delete" matTooltip="Delete"
                    *ngIf="!readOnly">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-list-item>
              </mat-nav-list>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <!-- Emails  -->
        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
          <button mat-button class="mat-icon-button mr-12 mt-12" (click)="newEmail(contact.id)" aria-label="New"
            matTooltip="Add" *ngIf="!readOnly">
            <mat-icon>add</mat-icon>
          </button>
          <mat-accordion class="mr-24" fxFlex>
            <mat-expansion-panel>
              <mat-expansion-panel-header>Emails</mat-expansion-panel-header>
              <mat-nav-list dense>
                <mat-list-item *ngFor="let email of emails$ | async">
                  <a matLine (click)="editEmail(email.id)">{{email.type}} | {{email.email}}</a>
                  <button mat-icon-button (click)="deleteEmail(email.id)" aria-label="Delete" matTooltip="Delete"
                    *ngIf="!readOnly">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-list-item>
              </mat-nav-list>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <!-- Addresses  -->
        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
          <button mat-button class="mat-icon-button mr-12 mt-12" (click)="newAddress(contact.id)" aria-label="New"
            matTooltip="Add" *ngIf="!readOnly">
            <mat-icon>add</mat-icon>
          </button>
          <mat-accordion class="mr-24" fxFlex>
            <mat-expansion-panel>
              <mat-expansion-panel-header>Addresses</mat-expansion-panel-header>
              <mat-nav-list dense>
                <mat-list-item *ngFor="let address of addresses$ | async">
                  <a matLine (click)="editAddress(contact.id, address.addressId)">{{address.type}} |
                    {{address.fullAddress}}</a>
                  <button mat-icon-button (click)="deleteAddress(contact.id, address.addressId)" aria-label="Delete"
                    matTooltip="Delete" *ngIf="!readOnly">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-list-item>
              </mat-nav-list>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <!-- Notes -->
        <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
          <mat-icon class="mr-12 mt-12">note</mat-icon>
          <mat-form-field fxFlex>
            <textarea name="notes" formControlName="notes" placeholder="Notes" matInput type="text"
              max-rows="4"></textarea>
          </mat-form-field>
        </div>
      </ng-container>
      <!-- End of edition only fields -->
    </form>

  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="!readOnly">

    <button *ngIf="action !=='edit'" mat-raised-button (click)="dialogRef.close(contactForm)" color="accent"
      [disabled]="contactForm.invalid" aria-label="SAVE">
      SAVE
    </button>

    <button *ngIf="action ==='edit'" mat-raised-button (click)="dialogRef.close(['save', contactForm])" color="accent"
      [disabled]="contactForm.invalid" aria-label="SAVE">
      SAVE
    </button>

    <button *ngIf="action ==='edit'" mat-button class="mat-icon-button"
      (click)="dialogRef.close(['delete',contactForm])" aria-label="Delete" matTooltip="Delete">
      <mat-icon>delete</mat-icon>
    </button>

  </div>
</div>
