<div id="contract-report-detail" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

  <!-- HEADER -->
  <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="space-between center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">

    <!-- APP TITLE -->
    <div fxLayout="column" fxLayoutAlign="center start" class="w-100-p">

      <div class="fuse-white-fg breadcrumb" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Budget Report Detail</span>
      </div>

      <div class="fuse-white-fg breadcrumb w-100-p" fxLayout="row" fxLayoutAlign="start center">
        <button class="mr-0 mr-sm-16" mat-icon-button (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div class="logo w-100-p" fxLayout="row" fxLayoutAlign="space-between start">
          <div>
            <h1 class="logo-text m-0" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
              Budget Report Details
            </h1>
            <small>Minimum Profit Margin Percentage: {{profitMargin}} %</small>
          </div>

          <button mat-icon-button (click)="editBudget()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>

    </div>
    <!-- / APP TITLE -->

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content primary-50-bg">

    <!--LOADER-->
    <div class="spinner-container" *ngIf="loading$ | async">
      <mat-spinner></mat-spinner>
    </div>
    <!--END LOADER-->

    <!-- SIDEBAR -->

    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>

      <!-- CONTENT -->
      <div class="content p-40 fuse-white-bg mat-elevation-z4">
        <div class="report">
          <!--TITLE-->
          <div class="title-document" fxLayoutAlign="center center">
            <div class="pt-12" fxFill fxLayout="row" fxLayoutAlign="center center">
              <span class="mat-headline fuse-black-fg">MG Capital Budget Report</span>
            </div>
          </div>
          <!--END TITLE-->
          <!--HEADER-->
          <div class="ml-8 m-sm-0 " fxLayoutAlign="space-between stretch">
            <div class="invoice-number pt-24" fxLayout="row" fxFlex="50" fxLayoutAlign="start center">
              <div fxLayout="column">

                <div fxLayout="row">
                  <span class="title"> CONTRACT NUMBER </span>
                  <span class="number number-date"> {{contractReportDetail.contractNumber}} </span>
                </div>

                <div fxLayout="row">
                  <span class="title"> CUSTOMER </span>
                  <span class="number number-date"> {{contractReportDetail.customerName}} </span>
                </div>

                <div fxLayout="row">
                  <span class="title"> BUILDING </span>
                  <span class="number number-date"> {{contractReportDetail.buildingName}} </span>
                </div>

                <div fxLayout="row">
                  <span class="title"> PRODUCTION RATE </span>
                  <span class="number number-date"> {{contractReportDetail.productionRate}} </span>
                </div>

                <div fxLayout="row">
                  <span class="title"> DAYS PER MONTH </span>
                  <span class="number number-date"> {{contractReportDetail.daysPerMonth}} </span>
                </div>

                <div fxLayout="row">
                  <span class="title"> NUMBER OF PEOPLE </span>
                  <span class="number number-date"> {{contractReportDetail.numberOfPeople}} </span>
                </div>

                <div fxLayout="row">
                  <span class="title"> EXPIRATION DATE </span>
                  <span class="number number-date"> {{contractReportDetail.expirationDate | date}} </span>
                </div>

                <div fxLayout="row">
                  <span class="title"> STATUS </span>
                  <span class="number number-date"> {{ getStatus(contractReportDetail.status) | uppercase }} </span>
                </div>

                <div fxLayout="row">
                  <span class="title"> DESCRIPTION </span>
                  <span class="number number-date"> {{contractReportDetail.description}} </span>
                </div>

                <div fxLayout="row">
                  <span class="title"> OCCUPIED SQUARE FEET </span>
                  <span class="number number-date"> {{occupiedSquareFeet}} </span>
                </div>

                <div fxLayout="row">
                  <span class="title"> UNOCCUPIED SQUARE FEET </span>
                  <span class="number number-date"> {{contractReportDetail.unoccupiedSquareFeets}} </span>
                </div>

                <div fxLayout="row">
                  <span class="title"> TOTAL SQUARE FEET </span>
                  <span class="number number-date"> {{totalSquareFeet}} </span>
                </div>

                <div fxLayout="row">
                  <span class="title">OFFICE SPACES</span>
                </div>
                <div fxLayout="row">
                  <mat-list>
                    <mat-list-item *ngFor="let officeSpace of contractReportDetail.officeSpaces">
                      <mat-icon mat-list-icon>business</mat-icon>
                      <h4 mat-line>{{officeSpace.officeTypeName}}</h4>
                      <p mat-line> {{officeSpace.squareFeet}} Sqft. </p>
                    </mat-list-item>
                  </mat-list>
                </div>

              </div>
            </div>

            <div class="invoice-number pl-24 pt-24 " fxLayout="row" fxFlex="50" fxLayoutAlign="start center">
              <div class="issuer" fxLayout="row" fxLayoutAlign="start center">
                <div class="logo">
                  <img src="assets/images/logos/MG Logo Black Text.png">
                </div>
              </div>
            </div>
          </div>
          <!--END HEADER-->

          <!--REVENUE-->
          <div class="mat-elevation-z2 mt-24">
            <!--TITLE-->
            <div class="sub-title-document green-400-bg" fxLayoutAlign="center center">
              <div class="pt-16" fxFill fxLayout="row" fxLayoutAlign="space-between center">
                <span class="mat-headline pl-16">REVENUE</span>
                <div class="fuse-white-fg breadcrumb pr-16" fxFlex="0 1 auto">
                  <button mat-icon-button matTooltip="Add Items" (click)="newContractItem()" *ngIf="!readOnly">
                    <mat-icon>add_box</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <!--END TITLE-->

            <table style="width:100%;">
              <thead>
                <tr class="mat-header-row">
                  <th class="mat-header-cell">Description</th>
                  <th class="mat-header-cell">Quantity</th>
                  <th class="mat-header-cell">Rate</th>
                  <th class="mat-header-cell">Type</th>
                  <th class="mat-header-cell">Daily</th>
                  <th class="mat-header-cell">Monthly</th>
                  <th class="mat-header-cell">Yearly</th>
                  <th class="mat-header-cell"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cItem of contractReportDetail.contractItems" class="mat-row">
                  <td class="mat-cell">
                    <div fxLayout="row" fxLayoutAlign="start center">
                      <mat-icon class="s-16 mr-4" *ngIf="cItem.defaultType > 0" matTooltip="Pre Populated">bookmark
                      </mat-icon>
                      <span>{{cItem.description}}</span>
                    </div>
                  </td>
                  <td class="mat-cell"> {{ cItem.rateType==3 ? cItem.squareFeet + ' Sqft.' : cItem.quantity}} </td>
                  <td class="mat-cell">
                    <p class="m-0"> {{cItem.rate | currency:'USD':'symbol':'1.4'}}</p>
                    <p class="m-0 font-size-12 secondary-text">{{cItem.ratePeriodicity}}</p>
                  </td>
                  <td class="mat-cell"> {{cItem.officeServiceTypeName}} </td>
                  <td class="mat-cell">
                    <span [matTooltip]="cItem.dailyRateFormula">
                      {{cItem.dailyRate | currency:'USD':'symbol'}}
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span [matTooltip]="cItem.monthlyRateFormula">
                      {{cItem.monthlyRate | currency:'USD':'symbol'}}
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span [matTooltip]="cItem.yearlyRateFormula">
                      {{cItem.yearlyRate | currency:'USD':'symbol'}}
                    </span>
                  </td>
                  <td class="mat-cell">
                    <div fxFlex="row" fxLayoutAlign="end center">
                      <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #moreMenu="matMenu" id="mat-menu">

                        <button id="mat-menu-item" mat-menu-item aria-label="edit" (click)="updateContractItem(cItem)">
                          <!-- <mat-icon>edit</mat-icon> -->
                          <span>Edit</span>
                        </button>

                        <button id="mat-menu-item" mat-menu-item aria-label="delete"
                          (click)="deleteContractItem(cItem.id)" *ngIf="!readOnly">
                          <!-- <mat-icon>delete</mat-icon> -->
                          <span>Delete</span>
                        </button>

                      </mat-menu>
                    </div>
                  </td>
                </tr>
                <tr class="mat-row table-footer">
                  <td class="mat-cell"> </td>
                  <td class="mat-cell"> </td>
                  <td class="mat-cell"> </td>
                  <td class="mat-cell">
                    <span>
                      TOTAL
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span>
                      {{ totalDailyRevenue | currency:'USD':'symbol' }}
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span>
                      {{ totalMonthlyRevenue | currency:'USD':'symbol' }}
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span>
                      {{ totalYearlyRevenue | currency:'USD':'symbol' }}
                    </span>
                  </td>
                  <td class="mat-cell"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--END REVENUE-->

          <!--EXPENSES-->
          <div class="mat-elevation-z2 mt-12">
            <!--TITLE-->
            <div class="sub-title-document red-400-bg" fxLayoutAlign="center center">
              <div class="pt-16" fxFill fxLayout="row" fxLayoutAlign="space-between center">
                <span class="mat-headline pl-16">EXPENSES & COST</span>
                <div class="fuse-white-fg breadcrumb pr-16" fxFlex="0 1 auto">
                  <button mat-icon-button matTooltip="Add Items" (click)="newContractExpense()" *ngIf="!readOnly">
                    <mat-icon>add_box</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <!--END TITLE-->

            <table style="width:100%;">
              <thead>
                <tr class="mat-header-row ">
                  <th class="mat-header-cell">Description</th>
                  <th class="mat-header-cell">Quantity</th>
                  <th class="mat-header-cell">Rate</th>
                  <th class="mat-header-cell">Payroll Taxes and Insurance</th>
                  <th class="mat-header-cell">Type</th>
                  <th class="mat-header-cell">Daily</th>
                  <th class="mat-header-cell">Monthly</th>
                  <th class="mat-header-cell">Yearly</th>
                  <th class="mat-header-cell"></th>
                </tr>
              </thead>
              <tbody>
                <!--LABOR-->
                <tr class="mat-row subtitle-row" *ngIf="hasLaborExpenses">
                  <td colspan="8">Labor</td>
                </tr>
                <tr class="mat-row" *ngFor="let row of getLaborExpenses()">
                  <td class="mat-cell">
                    <div fxLayout="row" fxLayoutAlign="start center">
                      <mat-icon class="s-16 mr-4" *ngIf="row.defaultType > 0" matTooltip="Pre Populated">bookmark
                      </mat-icon>
                      <span>{{row.description}}</span>
                    </div>
                  </td>
                  <td class="mat-cell">{{ row.rateType==3 || row.rateType==4 ? row.value : row.quantity}}</td>
                  <td class="mat-cell">
                    <p class="m-0"> {{row.rate | currency:'USD':'symbol':'1.4'}}</p>
                    <p class="m-0 font-size-12 secondary-text">{{row.ratePeriodicity}}</p>
                  </td>
                  <td class="mat-cell"> {{row.taxesAndInsurance | currency:'USD':'symbol'}} ({{row.overheadPercent}}%)
                  </td>
                  <td class="mat-cell">
                    <p class="text-truncate">
                      {{row.expenseSubcategoryName}}
                    </p>
                  </td>
                  <td class="mat-cell">
                    <span [matTooltip]="row.dailyRateFormula">
                      {{row.dailyRate | currency:'USD':'symbol'}}
                    </span>
                    <span matTooltip="tax-free daily rate" *ngIf="expenseCategory === 0">
                      ({{row.dailyTaxRate | currency:'USD':'symbol'}})
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span [matTooltip]="row.monthlyRateFormula">
                      {{row.monthlyRate | currency:'USD':'symbol'}}
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span [matTooltip]="row.yearlyRateFormula">
                      {{row.yearlyRate | currency:'USD':'symbol'}}
                    </span>
                  </td>
                  <td class="mat-cell">
                    <div fxFlex="row" fxLayoutAlign="end center">
                      <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #moreMenu="matMenu" id="mat-menu">

                        <button id="mat-menu-item" mat-menu-item aria-label="edit"
                          (click)="updateContractExpenses(row)">
                          <!-- <mat-icon>edit</mat-icon> -->
                          <span>Edit</span>
                        </button>

                        <button id="mat-menu-item" mat-menu-item aria-label="delete"
                          (click)="deleteContractExpense(row.id)" *ngIf="!readOnly">
                          <!-- <mat-icon>delete</mat-icon> -->
                          <span>Delete</span>
                        </button>

                      </mat-menu>
                    </div>
                  </td>
                </tr>
                <!--LABOR-->

                <!--EQUIMENTS-->
                <tr class="mat-row subtitle-row" *ngIf="hasEquipmentsExpenses">
                  <td colspan="8">Equipments</td>
                </tr>
                <tr class="mat-row" *ngFor="let row of getEquipmentsExpenses()">
                  <td class="mat-cell">
                    <div fxLayout="row" fxLayoutAlign="start center">
                      <mat-icon class="s-16 mr-4" *ngIf="row.defaultType > 0" matTooltip="Pre Populated">bookmark
                      </mat-icon>
                      <span>{{row.description}}</span>
                    </div>
                  </td>
                  <td class="mat-cell">{{ row.rateType==3 || row.rateType==4 ? row.value : row.quantity}}</td>
                  <td class="mat-cell">
                    <p class="m-0"> {{row.rate | currency:'USD':'symbol':'1.4'}}</p>
                    <p class="m-0 font-size-12 secondary-text">{{row.ratePeriodicity}}</p>
                  </td>
                  <td class="mat-cell"> {{row.taxesAndInsurance | currency:'USD':'symbol'}} ({{row.overheadPercent}}%)
                  </td>
                  <td class="mat-cell">
                    <p class="text-truncate">
                      {{row.expenseSubcategoryName}}
                    </p>
                  </td>
                  <td class="mat-cell">
                    <span [matTooltip]="row.dailyRateFormula">
                      {{row.dailyRate | currency:'USD':'symbol'}}
                    </span>
                    <span matTooltip="tax-free daily rate" *ngIf="expenseCategory === 0">
                      ({{row.dailyTaxRate | currency:'USD':'symbol'}})
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span [matTooltip]="row.monthlyRateFormula">
                      {{row.monthlyRate | currency:'USD':'symbol'}}
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span [matTooltip]="row.yearlyRateFormula">
                      {{row.yearlyRate | currency:'USD':'symbol'}}
                    </span>
                  </td>
                  <td class="mat-cell">
                    <div fxFlex="row" fxLayoutAlign="end center">
                      <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #moreMenu="matMenu" id="mat-menu">

                        <button id="mat-menu-item" mat-menu-item aria-label="edit"
                          (click)="updateContractExpenses(row)">
                          <!-- <mat-icon>edit</mat-icon> -->
                          <span>Edit</span>
                        </button>

                        <button id="mat-menu-item" mat-menu-item aria-label="delete"
                          (click)="deleteContractExpense(row.id)" *ngIf="!readOnly">
                          <!-- <mat-icon>delete</mat-icon> -->
                          <span>Delete</span>
                        </button>

                      </mat-menu>
                    </div>
                  </td>
                </tr>
                <!--EQUIMENTS-->

                <!--SUPPLIES-->
                <tr class="mat-row subtitle-row" *ngIf="hasSuppliesExpenses">
                  <td colspan="8">Supplies</td>
                </tr>
                <tr class="mat-row" *ngFor="let row of getSuppliesExpenses()">
                  <td class="mat-cell">
                    <div fxLayout="row" fxLayoutAlign="start center">
                      <mat-icon class="s-16 mr-4" *ngIf="row.defaultType > 0" matTooltip="Pre Populated">bookmark
                      </mat-icon>
                      <span>{{row.description}}</span>
                    </div>
                  </td>
                  <td class="mat-cell">{{ row.rateType==3 || row.rateType==4 ? row.value : row.quantity}}</td>
                  <td class="mat-cell">
                    <p class="m-0"> {{row.rate | currency:'USD':'symbol':'1.4'}}</p>
                    <p class="m-0 font-size-12 secondary-text">{{row.ratePeriodicity}}</p>
                  </td>
                  <td class="mat-cell"> {{row.taxesAndInsurance | currency:'USD':'symbol'}} ({{row.overheadPercent}}%)
                  </td>
                  <td class="mat-cell">
                    <p class="text-truncate">
                      {{row.expenseSubcategoryName}}
                    </p>
                  </td>
                  <td class="mat-cell">
                    <span [matTooltip]="row.dailyRateFormula">
                      {{row.dailyRate | currency:'USD':'symbol'}}
                    </span>
                    <span matTooltip="tax-free daily rate" *ngIf="expenseCategory === 0">
                      ({{row.dailyTaxRate | currency:'USD':'symbol'}})
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span [matTooltip]="row.monthlyRateFormula">
                      {{row.monthlyRate | currency:'USD':'symbol'}}
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span [matTooltip]="row.yearlyRateFormula">
                      {{row.yearlyRate | currency:'USD':'symbol'}}
                    </span>
                  </td>
                  <td class="mat-cell">
                    <div fxFlex="row" fxLayoutAlign="end center">
                      <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #moreMenu="matMenu" id="mat-menu">

                        <button id="mat-menu-item" mat-menu-item aria-label="edit"
                          (click)="updateContractExpenses(row)">
                          <!-- <mat-icon>edit</mat-icon> -->
                          <span>Edit</span>
                        </button>

                        <button id="mat-menu-item" mat-menu-item aria-label="delete"
                          (click)="deleteContractExpense(row.id)" *ngIf="!readOnly">
                          <!-- <mat-icon>delete</mat-icon> -->
                          <span>Delete</span>
                        </button>

                      </mat-menu>
                    </div>
                  </td>
                </tr>
                <!--SUPPLIES-->

                <!--OTHER-->
                <tr class="mat-row subtitle-row" *ngIf="hasOtherExpenses">
                  <td colspan="8">Others</td>
                </tr>
                <tr class="mat-row" *ngFor="let row of getOtherExpenses()">
                  <td class="mat-cell">
                    <div fxLayout="row" fxLayoutAlign="start center">
                      <mat-icon class="s-16 mr-4" *ngIf="row.defaultType > 0" matTooltip="Pre Populated">bookmark
                      </mat-icon>
                      <span>{{row.description}}</span>
                    </div>
                  </td>
                  <td class="mat-cell">{{ row.rateType==3 || row.rateType==4 ? row.value : row.quantity}}</td>
                  <td class="mat-cell">
                    <p class="m-0"> {{row.rate | currency:'USD':'symbol':'1.4'}}</p>
                    <p class="m-0 font-size-12 secondary-text">{{row.ratePeriodicity}}</p>
                  </td>
                  <td class="mat-cell"> {{row.taxesAndInsurance | currency:'USD':'symbol'}} ({{row.overheadPercent}}%)
                  </td>
                  <td class="mat-cell">
                    <p class="text-truncate">
                      {{row.expenseSubcategoryName}}
                    </p>
                  </td>
                  <td class="mat-cell">
                    <span [matTooltip]="row.dailyRateFormula">
                      {{row.dailyRate | currency:'USD':'symbol'}}
                    </span>
                    <span matTooltip="tax-free daily rate" *ngIf="expenseCategory === 0">
                      ({{row.dailyTaxRate | currency:'USD':'symbol'}})
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span [matTooltip]="row.monthlyRateFormula">
                      {{row.monthlyRate | currency:'USD':'symbol'}}
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span [matTooltip]="row.yearlyRateFormula">
                      {{row.yearlyRate | currency:'USD':'symbol'}}
                    </span>
                  </td>
                  <td class="mat-cell">
                    <div fxFlex="row" fxLayoutAlign="end center">
                      <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #moreMenu="matMenu" id="mat-menu">

                        <button id="mat-menu-item" mat-menu-item aria-label="edit"
                          (click)="updateContractExpenses(row)">
                          <!-- <mat-icon>edit</mat-icon> -->
                          <span>Edit</span>
                        </button>

                        <button id="mat-menu-item" mat-menu-item aria-label="delete"
                          (click)="deleteContractExpense(row.id)" *ngIf="!readOnly">
                          <!-- <mat-icon>delete</mat-icon> -->
                          <span>Delete</span>
                        </button>

                      </mat-menu>
                    </div>
                  </td>
                </tr>
                <!--OTHER-->

                <tr class="mat-row table-footer">
                  <td class="mat-cell"> </td>
                  <td class="mat-cell"> </td>
                  <td class="mat-cell"> </td>
                  <td class="mat-cell"> </td>
                  <td class="mat-cell">
                    <span matTooltip="Applies to All Labor in This Building">
                      Overhead (14%)
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span [matTooltip]="totalExpensesOverheadDailyFormula">
                      {{ totalExpensesOverheadDaily | currency:'USD':'symbol' }}
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span [matTooltip]="totalExpensesOverheadMonthlyFormula">
                      {{ totalExpensesOverheadMonthly | currency:'USD':'symbol' }}
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span [matTooltip]="totalExpensesOverheadYearlyFormula">
                      {{ totalExpensesOverheadYearly | currency:'USD':'symbol' }}
                    </span>
                  </td>
                  <td class="mat-cell"></td>
                </tr>
                <tr class="mat-row table-footer">
                  <td class="mat-cell"> </td>
                  <td class="mat-cell"> </td>
                  <td class="mat-cell"> </td>
                  <td class="mat-cell"> </td>
                  <td class="mat-cell">
                    <span>
                      TOTAL
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span>
                      {{ totalDailyExpenses | currency:'USD':'symbol' }}
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span>
                      {{ totalMonthlyExpenses | currency:'USD':'symbol' }}
                    </span>
                  </td>
                  <td class="mat-cell">
                    <span>
                      {{ totalYearlyExpenses | currency:'USD':'symbol' }}
                    </span>
                  </td>
                  <td class="mat-cell"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--END EXPENSES-->

          <!--TOTALS-->
          <div class="mat-elevation-z2 mt-24 p-8 ">
            <table style="width:100%;">
              <tr>
                <td><span class="mat-title">Net Profit</span></td>
                <td class="text-center">
                  <span [ngClass]="{'mat-title': true,'red-fg':  dailyProfit < 0 }" [matTooltip]="dailyProfitFormula">
                    {{ dailyProfit | currency:'USD':'symbol' }} </span>
                </td>
                <td class="text-center">
                  <span [ngClass]="{'mat-title': true,'red-fg':  monthlyProfit < 0 }"
                    [matTooltip]="monthlyProfitFormula">
                    {{ monthlyProfit | currency:'USD':'symbol' }} </span>
                </td>
                <td class="text-center">
                  <span [ngClass]="{'mat-title': true,'red-fg':  yearlyProfit < 0 }" [matTooltip]="yearlyProfitFormula">
                    {{ yearlyProfit | currency:'USD':'symbol' }} </span>
                </td>
              </tr>
              <tr>
                <td><span class="mat-title">Profit Ratio</span></td>
                <td class="text-center">
                  <span class="mat-title"
                    [ngClass]="{'mat-title': true, 'green-fg': (dailyProfitRatio * 100) > profitMargin, 'red-fg': (dailyProfitRatio * 100) <= profitMargin}"
                    [matTooltip]="dailyProfitRatioFormula">
                    {{ dailyProfitRatio  * 100 | number:'1.2-2' }}% </span>
                </td>
                <td class="text-center">
                  <span class="mat-title"
                    [ngClass]="{'mat-title': true, 'green-fg': (monthlyProfitRatio * 100) > profitMargin, 'red-fg': (monthlyProfitRatio * 100) <= profitMargin}"
                    [matTooltip]="monthlyProfitRatioFormula">
                    {{ monthlyProfitRatio  * 100 | number:'1.2-2' }}% </span>
                </td>
                <td class="text-center">
                  <span class="mat-title"
                    [ngClass]="{'mat-title': true, 'green-fg': (yearlyProfitRatio * 100) > profitMargin, 'red-fg': (yearlyProfitRatio * 100) <= profitMargin}"
                    [matTooltip]="yearlyProfitRatioFormula">
                    {{ yearlyProfitRatio   * 100 | number:'1.2-2' }}% </span>
                </td>
              </tr>
            </table>
          </div>
          <!--END TOTALS-->

        </div>
      </div>

      <div class="content p-40 fuse-white-bg mat-elevation-z4 mt-16">
        <div class="report">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="mr-4">list_alt</mat-icon>
                    Activity Log
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="log-table">
                <table>
                  <thead>
                    <tr class="primary-600-bg">
                      <th class="fuse-white-fg">DATE</th>
                      <th class="fuse-white-fg">USER</th>
                      <th class="fuse-white-fg">CHANGES</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let log of contractActivityLog">
                      <td>
                        {{log.epochCreatedDate | fromEpoch}}
                      </td>
                      <td>
                        {{ log.employeeFullName }} <span class="font-weight-500">({{ log.activityTypeName }})</span>
                      </td>
                      <td>
                        <div [ngSwitch]="log.activityType" class="summary-table">
                          <table *ngSwitchCase="0" style="width:100%;">
                            <thead>
                              <tr>
                                <th> FIELD </th>
                                <th> ORIGINAL VALUE</th>
                                <th> CURRENT VALUE </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let logItem of log.changeLogEntries">
                                <td class="mat-cell">
                                  {{ logItem.propertyName }}
                                </td>
                                <td class="mat-cell">
                                  {{ logItem.originalValue }}
                                </td>
                                <td class="mat-cell">
                                  {{ logItem.currentValue }}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table *ngSwitchCase="1" style="width:100%;">
                            <thead>
                              <tr>
                                <th>ITEM TYPE</th>
                                <th>ACTION</th>
                                <th>DESCRIPTION</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let logItem of log.itemLogEntries">
                                <td>
                                  {{ itemTypeName(logItem.itemType) }}
                                </td>
                                <td>
                                  {{ logItem.activityType }}
                                </td>
                                <td>
                                  {{ logItem.value }}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table *ngSwitchCase="2" style="width:100%;">
                            <thead>
                              <tr>
                                <th> PROPERTY </th>
                                <th> ORIGINAL VALUE</th>
                                <th> CURRENT VALUE </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let logItem of log.changeLogEntries">
                                <td class="mat-cell">
                                  {{ logItem.propertyName }}
                                </td>
                                <td class="mat-cell">
                                  {{ logItem.originalValue }}
                                </td>
                                <td class="mat-cell">
                                  {{ logItem.currentValue }}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>

      <div class="content p-40 fuse-white-bg mat-elevation-z4 mt-16">
        <div class="report">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="mr-4">speaker_notes</mat-icon>
                    Notes
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="notes-section">
                <div fxLayout="column" fxLayoutAlign="space-between none">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <img class="comment-member-avatar" src="assets/images/avatars/profile.jpg">

                    <mat-form-field fxFlex class="mx-8">
                      <input matInput placeholder="Note" [(ngModel)]="note">
                    </mat-form-field>

                    <button mat-raised-button color="accent" (click)="addNote()">Add Note</button>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let userNote of notes" class="mb-8">
                    <span *ngIf="userNote.me"></span>
                    <div class="note-container">
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <img class="comment-member-avatar" src="assets/images/avatars/profile.jpg" *ngIf="!userNote.me">
                        <div [ngClass]="{'text-right mr-12':userNote.me}">
                          <h5 class="m-0 mb-8 font-weight-500"> {{userNote.employeeFullName}} </h5>
                          <span class="note-bubble">
                            {{userNote.note}}
                          </span>
                          <h6 class="m-0 mt-8"> {{userNote.epochCreatedDate | fromEpoch | date:'short'}} </h6>
                        </div>
                        <img class="comment-member-avatar" src="assets/images/avatars/profile.jpg" *ngIf="userNote.me">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!--SEND BY EMAIL BUTTON--
    <button mat-fab class="mat-accent-bg" id="btn-send-by-email" (click)="sendContractByEmailContract()" *fuseIfOnDom
      matTooltip="Send by email the document url" matTooltipPosition="left"
      [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
      <mat-icon>email</mat-icon>
    </button>
    --END SEND BY EMAIL BUTTON-->

    <!--SHARE DOCUMENT BUTTON-->
    <button mat-fab class="mg-accent-bg" id="btn-download-pdf" (click)="getDocumentUrl()" *fuseIfOnDom
      matTooltip="Download PDF document" matTooltipPosition="left"
      [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
      <mat-icon>picture_as_pdf</mat-icon>
    </button>
    <!--END SHARE DOCUMENT BUTTON-->

    <!--SHARE DOCUMENT BUTTON-->
    <button mat-fab class="mg-accent-bg" id="btn-copy-url" (click)="shareContractDocument()" *fuseIfOnDom
      matTooltip="Shared document url" matTooltipPosition="left"
      [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
      <mat-icon>insert_link</mat-icon>
    </button>
    <!--END SHARE DOCUMENT BUTTON-->

    <!--OPEN REPORT VIEW BUTTON-->
    <button mat-fab class="mg-accent-bg" id="btn-show-shared-view" (click)="openPublicContractViewNewTab()" *fuseIfOnDom
      matTooltip="Show shared document view" matTooltipPosition="left"
      [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
      <mat-icon>pageview</mat-icon>
    </button>
    <!--END OPEN REPORT VIEW BUTTON-->
  </div>
  <!-- / CONTENT -->

</div>
